{{template "header.html" .Header}}

			<!-- Main hero unit for a primary marketing message or call to action -->
			<div class="hero-unit">
				<h1>RepoRef: Repository reference</h1>
				<p>This website allows you to reference to a certain commit or branch in a public git repository, by URL. For instance: `git clone http://reporef.org/github.com/GeertJohan/yubigo@37f797f35ecc54a3e55d3816c73d2f28fb763e01` clones the yubigo repository directly at commit 37f797f[...].</p>
				<p><a class="btn btn-primary btn-large" href="/about" >Learn more &raquo;</a></p>
			</div>

			<!-- Example row of columns -->
			<div class="row">
				<div class="span4">
					<h2>Go get</h2>
					<p>"go get" is a command in the go-tool for the <a href="http://golang.org" >Go programming language</a>. It is used to retrieve and install a library (or: package) from a public git reporitory. RepoRef.org can be used to easily <span class='codeline'>go get</span> a package at a certain commit or branch. Just execute <span class='codeline' >go get reporef.org/github.com/user/project@branch-name</span></p>
					<!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
				</div>
				<div class="span4">
					<h2>GitHub</h2>
					<p>At this point RepoRef only supports GitHub. Support for other public repositories is scheduled. Please <a href="http://github.com/GeertJohan/reporef" >join and help</a>.</p>
					<!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
				</div>
				<!-- <div class="span4">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p><a class="btn" href="#">View details &raquo;</a></p>
				</div> -->
			</div>

{{template "footer.html" .Footer}}
